{% extends "homepage/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">

    <div class="CareerLogo">Careers</div>

    <div class="CareerLogo2">Be a Part of Milky Way</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="CareerText">
    <b>Bring your passion, commitment, and talent to Dairyland and find out how to make our success your own.<br><br>


Here at Milky Way, we believe that human resources are the integral part of sustainable growth, the most critical ingredient for our success. Our people provide the talent, experience, and passion that lie at the heart and pride to everything that we do.

That’s why we provide the challenges and inspiration that can help them grow professionally and personally.<br><br>

        We're ready to discover what you're made of. Send us your resume at careers@milkywayltd.com</b>
</div>
{% endblock content %}